*{
  margin: 0%;
  padding: 0%;
}
.Header{
  background-color: rgba(32, 32, 32, 0.82);
  padding: 10px;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 40px;
}
body{
  background-color: rgb(154, 199, 184);
}
.container{
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
.container > h1{
  text-align: center;
  margin-top: 10px;
}
.container > form{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
input,textarea,button{
  padding: 8px;
  margin: 3px 0;
}
button{
  background-color: rgb(15, 15, 15);
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
button:hover{
  background-color: crimson;
}
/* *{
  border: 1px solid red;
} */
.Task{
  display: flex;
  width: 69%;
  margin: 10px auto;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.5;
}
.new{
  opacity: 0.5;
}
.Task > div{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 3px 10px;
}
.Task > div > span{
  opacity: .8;
  padding: 2px;
}
.complete{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3px;
   margin: 1px;
   border-radius: 100%;
   width: 33px;
   height: 30px;
}
.complete:hover{
  color: crimson; 
}
